#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
main {
  color: rgb(6, 52, 80);
}

/* mobile (320px) tablet (768px) desktop (1024px) */

/* Use CSS grid to lay out the main elements (header, sidebar navigation, main content) on the page. */
