/* -- MAIN STYLES ------------------------------------------------- */
* {
  box-sizing: border-box;
}
#app {
  max-width: 100%;
  color: #616060;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
header,
nav {
  display: flex;
  align-items: center;
}
header {
  background-color: rgb(97, 97, 177);
  color: white;
  height: 60px;
  padding: 0 8px;
}
#home-pg-title {
  flex-grow: 2;
}
nav {
  height: 50px;
  background-color: rgb(60, 58, 95);
  justify-content: center;
  margin: 0;
}
.headline {
  background-color: rgb(245, 245, 245);
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgb(200, 200, 200);
}
#dashboard {
  background-color: white;
  width: 100px;
  height: 50px;
  border-right: 1px solid rgb(200, 200, 200);
  border-bottom: 1px solid white;
  text-align: center;
}
#search-input {
  height: 35px;
  padding: 5px;
}
.traffic-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
.switch-ios.switch-light a {
  top: 3px;
  left: 3px;
}

/* -- PAGE LINES ------------------------------------------------- */
section {
  padding: 0 1rem 1rem 1rem;
  border-bottom: 1px solid rgb(201, 201, 201);
}

/* -- FONTS ------------------------------------------------- */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
h1 {
  font-weight: 300;
  font-size: 20px;
}
h2,
h3 {
  padding: 12px 0 0 0;
  font-weight: 400;
}
h2 {
  font-size: 16px;
}
h3 {
  text-transform: uppercase;
  font-size: 14px;
}
h4 {
  color: rgb(97, 97, 177);
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}
h5 {
  font-weight: 100;
  font-size: 13px;
}
p {
  margin: 0;
  font-size: 12px;
  line-height: 1.2;
}
.traffic-nav-link {
  font-size: 14px;
}
.stat {
  font-size: 38px;
  font-weight: 100;
  margin: 0;
}
.settings p {
  font-size: 14px;
}
/* -- IMAGE STYLES ------------------------------------------------- */
.bell {
  height: 23px;
  width: 30px;
  fill: white;
}
.bell-notification {
  width: 8px;
  height: 8px;
  background-color: rgb(132, 249, 120);
  border-radius: 100%;
  position: relative;
  top: -10px;
  left: -6px;
}
.separating-line{
  height: 37px;
  background-color: grey;
  width: 1px;
  margin: 0 5px;
}
.nav-icon {
  width: 32px;
  fill: white;
  margin: 0 1rem;
}
#nav-pic {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 0 5px;
  
}
.profile-pic {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 1rem 0 5px;
}

#line-graph,
#bar-graph,
#doughnut-graph {
  max-width: 100%;
  padding-top: 15px;
}

.widget-container-half {
  padding: 0;
}
canvas {
  height: 0;
}

/* -- SOCIAL STATS SECTION ------------------------------------------------- */
.social-media-icon {
  width: 30px;
  height: 30px;
  fill: white;
}
.social-image {
  background-color: rgb(97, 97, 177);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
}
.social-container {
  display: flex;
  flex-direction: column;
}

.indiv-social-container {
  display: flex;
  align-items: center;
  height: 90px;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(216, 216, 216);
  border-radius: 5px;
}
.social-text {
  padding: 0 10px;
}

/* -- MEMBERS SECTION ------------------------------------------------- */
.member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  text-align: center;
}

.member-container:not(:last-child),
.activity-container:not(:last-child) {
  border-bottom: 1px solid rgb(201, 201, 201);
  padding-bottom: 1em;
}
/* -- ACTIVITY SECTION ------------------------------------------------- */
.activity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-text {
  text-align: center;
}

a {
  font-size: 12px;
  color: rgb(118, 118, 187);
  text-decoration: none;
}

.member-text {
  padding: 0 30px;
}
/* -- FORM FIELDS ------------------------------------------------- */
.form-field {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  margin-top: 15px;
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
}
/* how to change little purple arrow selector???? */

::placeholder,
#timezone {
  color: rgb(179, 179, 179);
  font-size: 14px;
}

#timezone{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.timezone-wrapper{
  position: relative;
}

.timezone-wrapper::after{
  content: "▾";
  color: rgb(97, 97, 177);
  font-size: 20px;
  position: absolute;
  top: 22px;
  right: 15px;
  pointer-events: none;
}

#messageField {
  height: 110px;
  padding-top: 10px;
  resize: vertical;
}
/* -- BUTTONS ------------------------------------------------- */

button {
  width: 100%;
  height: 40px;
  color: white;
  text-transform: uppercase;
  background-color: rgb(97, 97, 177);
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  font-weight: 100;
  font-size: 15px;
}
#cancel {
  background-color: grey;
}
/* -- SETTINGS ------------------------------------------------- */
.settings-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 0;
  width: 100%;
}
.settings-container p {
  flex-grow: 1;
}
/* Still don't know how to vertically center align the toggle switch white circle. 
Also don't know how to change toggle switch colour*/
#span-container-1,
#span-container-2 {
  width: 90px;
  height: 35px;
  border: 2px solid rgb(214, 214, 214);
  background-color: rgb(97, 97, 177);
}
#span-container-1 span,
#span-container-2 span {
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 15px;
}
.settings-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.settings-button button {
  width: 47%;
}

/* -- TABLET ------------------------------------------------- */
@media (min-width: 768px) {
  /* STRUCTURE */
  header {
    grid-area: header;
    height: 77px;
  }
  nav {
    grid-area: nav;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
  main {
    grid-area: main;
  }
  body {
    display: grid;
    grid-template-columns: 55px 1fr;
    height: 100vh;
    grid-template-areas:
      "header header"
      "nav main";
  }
  .nav-icon {
    height: 40px;
    margin-top: 25px;
  }
  .traffic-nav {
    justify-content: flex-end;
  }
  .traffic-nav-link {
    padding-left: 25px;
  }
  .charts {
    /* width: 100%;
    display: flex; */
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .charts section {
    flex-grow: 1;
  }
  /* .charts, */
  .social-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .social-flex-container {
    grid-gap: 8px;
    justify-content: space-between;
  }
  /* STYLING */

  .mobile {
    border-left: 1px solid rgb(201, 201, 201);
  }
  .member-container,
  .activity-container {
    flex-direction: row;
    position: relative;
  }
  .name,
  .activity-container p {
    text-align: left;
  }
    
/* parent (container) position: relative, and then child (the "::after objct" is positioned absolutely */
  .activity-container::after{
    content: "˲";
    color: rgb(97, 97, 177);
    font-size: 35px;
    position: absolute;
    right: 15px;
    top: 10px;
  }


  .date {
    text-align: right;
    flex-grow: 1;
  }
  /* How to get the padding or margin right for the entire page... it's overflowing to the right */
  /* How to add the little arrows on the RHS Recent Activity */
  /* How come my settings switches are sensitive to clicks across the entire span? */
  /* Make the nav bar "sticky" */
}
/* -- DESKTOP ------------------------------------------------- */
@media (min-width: 1024px) {
  /* STRUCTURE */
  .main-header {
    grid-area: dashboard;
  }
  .traffic {
    grid-area: traffic;
  }
  .social {
    grid-area: social;
  }
  .charts {
    grid-area: charts;
  }
  .social-container {
    grid-area: social;
  }
  .members {
    grid-area: members;
  }
  .recent-activity {
    grid-area: activity;
  }
  .message {
    grid-area: message;
  }
  .settings {
    grid-area: settings;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "dashboard dashboard"
      "traffic traffic"
      "charts charts"
      "social social"
      "members activity"
      "message settings";
  }
  body {
    grid-template-columns: 60px 1fr;
  }
  /* STYLING */
  p, a {
    font-size: 14px;
  }
  .charts {
    width: 100%;
  }
  .settings-container p {
    flex-grow: 0;
    width: 200px;
  }
  .members,
  .message {
    border-right: 1px solid rgb(200, 200, 200);
  }
  /* customise switch library */
  .switch-ios.switch-light a {
    top: 2px;
    left: 2px;
  }
}
@media (min-width: 1250px) {
  /* STYLING */
  .indiv-social-container {
    justify-content: center;
  }
}
