/* -- MAIN STYLES ------------------------------------------------- */
#app {
  max-width: 320px;
}

#app * {
  margin: 0;
}

header,
main,
nav {
  padding: 15px;
}

header {
  background-color: rgb(97, 97, 177);
  color: white;
  display: flex;
  max-height: 31px;
}

nav {
  background-color: rgb(60, 58, 95);
  max-height: 20px;
  display: flex;
}

.traffic-nav {
  list-style-type: none;
  display: flex;
}
.traffic-nav li {
  width: 100px;
}

/* -- PAGE LINES ------------------------------------------------- */
.traffic,
.daily,
.mobile,
.social-container,
.member-container,
.activity-container,
.message {
  border-bottom: 1px solid grey;
}

/* -- IMAGE STYLES ------------------------------------------------- */
#notifications-bell {
  max-width: 20px;
  border-right: 1px solid grey;
  padding: 0 10px;
}
#nav-pic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0 10px;
}
.profile-pic {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 15px;
}
/* how to make svg's white in color? */
nav a img {
  width: 35px;

  fill: white;
  padding: 0 17px;
}
.social-image {
  max-width: 50px;
  background-color: rgb(97, 97, 177);
  border-radius: 50%;
  padding: 15px;
}
/* -- FONTS ------------------------------------------------- */
body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-weight: 300;
  font-size: 20px;
}
h2 {
  font-weight: 400;
}
h3 {
  text-transform: uppercase;
  font-weight: 400;
}
h4 {
  color: rgb(97, 97, 177);
  font-weight: 500;
  font-size: 18px;
}
h5 {
  font-weight: 100;
  font-size: 12px;
  padding-top: 10px;
}
.stat {
  font-size: 35px;
  color: rgb(92, 92, 92);
}

/* -- SOCIAL STATS SECTION ------------------------------------------------- */
.indiv-social-container {
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
  padding: 10px;
  display: flex;
}

/* -- BUTTONS ------------------------------------------------- */

button {
  color: white;
  text-transform: uppercase;
  background-color: rgb(97, 97, 177);
  border: none;
  padding: 15px 80px;
  border-radius: 10px;
}
#cancel {
  background-color: grey;
}

/* mobile (320px) tablet (768px) desktop (1024px) Do I need to define screen???? */
/* -- MOBILE ------------------------------------------------- */

/* @media (min-width: 320px) {} */
