/* -- MAIN STYLES ------------------------------------------------- */
#app {
  max-width: 100%;
  color: #616060;
  margin: 0;
}

header,
main {
  padding: 5px;
}

header,
nav {
  display: flex;
  height: 50px;
  align-items: center;
}
header {
  background-color: rgb(97, 97, 177);
  color: white;
}
#home-pg-title {
  flex-grow: 2;
}
nav {
  background-color: rgb(60, 58, 95);
  justify-content: center;
}

.traffic-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

/* -- FONTS ------------------------------------------------- */
body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-weight: 300;
  font-size: 20px;
}

h2,
h3 {
  padding: 10px 0;
}

h2 {
  font-weight: 400;
  font-size: 16px;
}
h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}
h4 {
  color: rgb(97, 97, 177);
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}
h5 {
  font-weight: 100;
  font-size: 13px;
}
.traffic-nav-link {
  font-size: 14px;
}
.stat {
  font-size: 38px;
  font-weight: 100;
  margin: 0;
}

/* -- IMAGE STYLES ------------------------------------------------- */
.bell {
  height: 30px;
  width: 30px;
  border-right: 1px solid grey;
  fill: white;
  padding: 0 10px;
}

#nav-pic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0 10px;
}
.profile-pic {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 15px;
}
/* how to make svg's white in color? */
nav a img {
  width: 32px;
  fill: white;
  padding: 0 15px;
}
#line-graph,
#bar-graph,
#doughnut-graph {
  width: 310px;
  padding-top: 15px;
}
canvas {
  height: 0;
}

/* -- SOCIAL STATS SECTION ------------------------------------------------- */
.social-image {
  width: 30px;
  background-color: rgb(97, 97, 177);
  border-radius: 50%;
  padding: 15px;
}
.indiv-social-container {
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 75px;
  margin: 15px 10px;
}
.social-text {
  padding: 0 10px;
}

/* -- MEMBERS SECTION ------------------------------------------------- */
.member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  text-align: center;
}

/* -- ACTIVITY SECTION ------------------------------------------------- */
.activity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-text {
  text-align: center;
}

/* -- FORM FIELDS ------------------------------------------------- */
.form-field {
  background-color: rgb(242, 242, 242);
  width: 320px;
  height: 35px;
  padding: 0;
  border-radius: 10px;
}
/* -- BUTTONS ------------------------------------------------- */

button {
  color: white;
  text-transform: uppercase;
  background-color: rgb(97, 97, 177);
  border: none;
  padding: 15px 80px;
  border-radius: 10px;
}
#cancel {
  background-color: grey;
}

/* -- PAGE LINES ------------------------------------------------- */
.traffic,
.daily,
.mobile,
.social-container,
.member-container,
.activity-container,
.message {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(201, 201, 201);
}

/* mobile (320px) tablet (768px) desktop (1024px) Do I need to define screen???? */
/* -- MOBILE ------------------------------------------------- */

/* @media (min-width: 320px) {} */
